.post-list {

  &:first-child {

    .post-item {

      &:first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .post-item {
    margin-top: 0;
  }

  > * + * {
    margin-top: calc(1em * $baseLineHeight);
  }
}
