// Color Palette
$palette: (
  source: #ffffff,
  ash: #efefef,
  smoke: #333333,
  void: #000000,
  sulfur: #ffaa00,
  flame: #f1511a,
  ghast: #7a5fff,
  shadow: #281726,
  scry: #3eafc4,
  midnight: #0d1b27,
  ectoplasm: #01ff89
);

@function palette($color) {
  @return map-get($palette, $color);
};

// TODO: Remove
$backgroundPrimary: palette(midnight);
$backgroundSecondary: palette(shadow);
$backgroundGradient: linear-gradient(0deg, $backgroundSecondary 0%, transparent 75%, transparent 100%);
$contentPrimary: palette(ash);
$contentSecondary: palette(sulfur);
$actionPrimary: palette(flame);
$actionSecondary: palette(sulfur);
$accentPrimary: palette(ghast);
$accentSecondary: palette(scry);
$accentTertiary: palette(ectoplasm);

$global: (
  neutral: (
    white: palette(source),
    light: palette(ash),
    dark: palette(smoke),
    black: palette(void)
  ),
  accent: (
    blue: palette(scry),
    green: palette(ectoplasm),
    purple: palette(ghast),
  )
);

// Color Themes - Add themes here using palette()
$themes: (
  dark: (
    background: (
      base: palette(midnight),
      alt: palette(shadow)
    ),
    content: (
      base: palette(ash),
      alt: palette(sulfur)
    ),
    action: (
      base: palette(flame),
      alt: palette(sulfur)
    )
  )
);

:root {
  // Generate global colors
  @each $categoryName, $category in $global {
    @each $colorName, $color in $category {
      --color-#{$categoryName}-#{$colorName}: #{$color};
    }
  };

  // Generate default theme colors (Dark)
  @each $categoryName, $category in map-get($themes, dark) {
    @each $colorName, $color in $category {
      --color-#{$categoryName}-#{$colorName}: #{$color};
    }
  };

  //  Generate theme colors from $themes
  @each $themeName, $theme in $themes {
    &[data-theme="#{themeName}"] {
      @each $categoryName, $category in $theme {
        @each $colorName, $color in $category {
          --color-#{$categoryName}-#{$colorName}: #{$color};
        }
      }
    }
  };
}