// Breakpoints
$bpSm: 40rem;
$bpMd: 50rem;
$bpLg: 78rem;

// Layout
$contentGutter: 2rem;
$contentGutterMd: 4rem;
$contentContainer: $bpMd;
$contentContainerLg: $bpLg;

// Spacing
$spXs: 0.75rem;
$spSm: 1.5rem;
$spMd: 3rem;
$spLg: 6rem;
$spXl: 12rem;
$sp2Xl: 18rem;