// Font Families
$ffPrimary: "Inconsolata", monospace;

// Font Weights
$fwPrimaryRegular: 400;
$fwPrimaryBold: 700;

// Global Typography Reset
@mixin typographyReset {
  color: $contentPrimary;
  font-family: $ffPrimary;
  font-size: 16px;
  font-weight: $fwPrimaryRegular;
  line-height: 1.75;
}

// Text Sizes
$textSm: 1rem;
$textMd: 1.25rem;
$textLg: 1.5rem;

// Headings
@mixin heading($size: md) {
  display: inline-block;
  line-height: 1;
  text-decoration: underline $contentSecondary;

  @if $size == "lg" {
    font-size: 3rem;
    font-weight: $fwPrimaryBold;

    @media screen and (min-width: $bpMd) {
      font-size: 4rem;
    }
  } @else if $size == "md" {
    font-size: 2rem;
    font-weight: $fwPrimaryBold;

    @media screen and (min-width: $bpMd) {
      font-size: 3rem;
    }
  } @else {
    font-size: 1.5rem;
    font-weight: $fwPrimaryRegular;
  }

  &+* {
    margin-top: $spXs;
  }
}

@mixin link {
  color: $actionPrimary;
  text-decoration: wavy underline transparent;
  transition: text-decoration-color 0.2s linear;
}

@mixin linkHover {
  text-decoration: wavy underline $actionSecondary;
}