* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
}

body {
  background-color: $primaryLight;
  color: $primaryDark;
  display: flex;
  flex-direction: column;
  font-family: $primaryFont;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $baseLineHeight;
  margin: 0;

  @mixin css-lock font-size, $(smBp), $(lgBp), $baseFontSizeMin, 1, $baseFontSizeMax, 1;
}

main,
li {
  display: block;
}

h1,h2,h3,h4,
p,
ol,ul ,
pre,blockquote,figure {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: color $linkTransition;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $linkHover;
  }
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#background-particles {
  position: fixed;
  z-index: -1;
}
