.main-content {
  flex-grow: 1;
  margin: 0 auto;
  padding: calc(1em * $baseLineHeight);
  max-width: calc((2em * $baseLineHeight) + $(baseContentWidth)em);
  width: 100%;

  > * {

    &:only-child {
      margin: 0;
    }

    &+ * {
      margin-top: calc(1em * $baseLineHeight);
    }
  }
}
