.main-content {
  background-color: rgba($primaryLight, .75);
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  transform-origin: top;
  width: 100%;
  max-width: calc((2em * $baseLineHeight) + $(baseContentWidth)em);
  @mixin property-rhythm padding, em, 1;

  &__authored {

    h2,h3,h4 {
      font-family: $accentFont;
    }

    h2 {
      color: $accentTwo;
      @mixin font-rhythm em, 2, 2;
    }

    h3 {
      @mixin font-rhythm em, 1.5, 1.5;
    }

    ol,ul {

      ol,ul {

        li {
          @mixin property-rhythm margin-left, em, .5;
        }
      }
    }

    ul {

      li::before {
        color: $accentOne;
        content: "\2022";
        @mixin property-rhythm margin-right, em, .25;
      }
    }

    ol {

      li {
        counter-increment: orderedList;

        &::before {
          color: $accentOne;
          content: counters(orderedList,".") " — ";
        }
      }
    }

    pre {
      position: relative;
      @mixin property-rhythm padding-top, em, .5;
      @mixin property-rhythm padding-right, em, .75;
      @mixin property-rhythm padding-bottom, em, .5;
      @mixin property-rhythm padding-left, em, .75;

      &::before {
        border: 1px solid $primaryDark;
        bottom: -1px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      code {
        color: $accentOne;
        @mixin font-rhythm em, .75, 1;
      }
    }

    blockquote {
      border-color: $accentTwo;
      border-left-style: solid;
      font-style: italic;
      @mixin property-rhythm border-left-width, em, .5;
      @mixin property-rhythm padding-top, em, .5;
      @mixin property-rhythm padding-right, em, .75;
      @mixin property-rhythm padding-bottom, em, .5;
      @mixin property-rhythm padding-left, em, .75;

      p {
        @mixin property-rhythm padding-left, em, 1;
        position: relative;

        &::before {
          color: $accentOne;
          content: "\201C";
          display: inline-block;
          font-family: $bitter;
          font-style: normal;
          left: 0;
          position: absolute;
          @mixin font-rhythm em, 2.5, 1.666;
        }
      }

      footer {
        font-family: $bitter;
        font-style: normal;
        text-align: right;

        &::before {
          content: "\2014";
          display: inline-block;
          @mixin property-rhythm margin-right, em, .25;
        }
      }
    }

    > * {

      ol {
        counter-reset: orderedList;
      }

      &:not(pre) {

        code {
          background: $accentOne;
          color: $primaryLight;
          @mixin property-rhythm padding-right, em, .25;
          @mixin property-rhythm padding-left, em, .25;
        }
      }

      &+ * {
        @mixin property-rhythm margin-top, em, 1;
      }

      &+ h2 {
        @mixin property-rhythm margin-top, em, 1;
      }

      &+ h3 {
        @mixin property-rhythm margin-top, em, .666;
      }
    }
  }

  > * + * {
    @mixin property-rhythm margin-top, em, 1;
  }
}
