.scene {
  opacity: 0;
  transition: opacity .5s;

  .scene__item {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;

    &--fade-in {
      animation-name: fadeIn;
    }
  }

  &.is-exiting {

    .scene__item {
      animation-direction: alternate-reverse;
    }
  }

  .wf-active &,
  .wf-inactive & {
    opacity: 1;
  }
}
