.inline-list-label {
  text-transform: lowercase;

  &::after {
    content: "//";
    display: inline-block;
  }
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  text-transform: lowercase;

  &__item {

    &:first-child {

      &::before {
        display: none;
      }
    }

    &::before {
      content: "/";
      display: inline-block;
    }
  }
}
