.about {
  border-bottom: 1px solid $black;
  margin-bottom: 4rem;
  padding-bottom: 4rem;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__heading {
    font-size: 1.5rem;

    &__link {
      font-size: 3rem;
    }
  }
}
