.about {

  &__header {
    margin-bottom: 4rem;
  }

  > .about__header {
    border-bottom: 1px solid $copy;
    padding-bottom: 4rem;
  }

  &__heading {
    font-size: 1.2rem;

    @media (min-width: $sm) {
      font-size: 1.5rem;
    }

    &__link {
      display: inline-block;
      font-size: 2.5rem;
      line-height: 1.1;
      margin-bottom: .2rem;

      @media (min-width: $sm) {
        font-size: 3rem;
      }
    }
  }

  &__callouts {
    background-color: $copy;
    color: $bone;
    padding: 2rem 0;
    text-align: center;

    &__heading {
      color: $grapefruit;
      font-size: 1.5rem;
      line-height: 1.1;
      margin-bottom: .2rem;
    }
  }

  &__skills {
    padding: 4rem 0;

    &__heading {
      color: $beryl;
      font-size: 2rem;
      line-height: 1.1;
      margin-bottom: .2rem;
    }
  }

  &__more {
    background: $chocolate url(../images/about-more.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    color: $bone;
    padding: 4rem 0;
    text-shadow: 0 0 10px $chocolate;

    &__heading {
      color: $grapefruit;
      font-size: 2rem;
      line-height: 1.1;
      margin-bottom: .2rem;
    }
  }

  &__column {

    &--1-3 {
      lost-column: 1/3;
    }

    &--2-3 {
      lost-column: 2/3;
    }
  }
}
