html {
  -ms-text-size-adjust: 100%;
}

body {
  background-color: $primaryLight;
  color: $primaryDark;
  display: flex;
  flex-direction: column;
  font-family: $primaryFont;
  font-size: calc(1rem * $baseFontSizeMin);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  margin: 0;

  @media (min-width: $smBp) {
    font-size: calc((1rem * $baseFontSizeMin) + ($baseFontSizeDiff) * (100vw - 20rem) / (80 - 20) );
  }

  @media (min-width: $lgBp) {
    font-size: calc(1rem * $baseFontSizeMax);
  }
}

main,
li {
  display: block;
}

h1,h2,h3,h4,
p,
blockquote,
figure,
ol,ul {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: color $linkTransition;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $linkHover;
  }
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
