html,
body {
  background-color: $background;
  box-sizing: border-box;
  color: $copy;
  font-family: $raleway;
  font-size: 16px;
  line-height: 1.8;

  @media (min-width: $sm) {
    font-size: 18px;
  }

  @media (min-width: $md) {
    font-size: 22px;
  }
}

* {
  box-sizing: inherit;

  + * {
    margin-top: 0;
  }

  &::before,
  &::after {
    box-sizing: inherit;
 }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:only-child {
    margin: 0;
  }
}

h1,h2,h3 {
  font-family: $bitter;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: $link;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $linkHover;
  }
}

hr {
  border-top: 0;
  border-bottom-color: $copy;
  margin: 3rem 0;
}

blockquote {
  border-left: .5rem solid $accentTwo;
  margin: 0 0 1.5rem;
  padding: 0 1rem;

  p {
    display: inline;
    font-style: italic;

    &::before,
    &::after {
      color: $accentOne;
      display: inline-block;
      font-size: 5rem;
      line-height: .9;
      height: 1.5rem;
      vertical-align: text-bottom;
    }

    &::before {
      content: '“';
      margin: 0 1rem 0 -1rem;
    }

    &::after {
      content: '”';
      margin: 0 .5rem 0 -.5rem;
    }
  }

  footer {
    font-weight: 700;
    text-align: right;
  }
}

pre {
  white-space: pre-wrap;
}
