html,
body {
  background-color: $background;
  box-sizing: border-box;
  color: $copy;
  font-family: $bodyFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;

  @media (min-width: $sm) {
    font-size: calc($baseFontSize * 1.125);
  }

  @media (min-width: $md) {
    font-size: calc($baseFontSize * 1.375);
  }
}

* {
  box-sizing: inherit;

  + * {
    margin-top: 0;
  }

  &::before,
  &::after {
    box-sizing: inherit;
 }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:only-child {
    margin: 0;
  }
}

#background-particles {
  display: none;
  position: fixed;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  position: relative;
}

h1,h2,h3,h4,h5,h6,
p,ul,ol,img,pre {
  margin: 0 0 $baseVerticalGutter;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headingFontFamily;
  font-weight: $headingFontWeight;
  line-height: calc($baseLineHeight * .8125);
}

h2 {
  font-size: 1.5rem;

  @media (min-width: $sm) {
    font-size: 2rem;
  }
}

h3 {
  color: $accentOne;
  font-size: 1.2rem;

  @media (min-width: $sm) {
    font-size: 1.5rem;
  }
}

a {
  color: $link;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $linkHover;
  }
}

blockquote,hr {
  margin: calc($baseVerticalGutter * 3) 0;
}

blockquote {
  border-left: .5rem solid $accentTwo;
  padding: 0 $baseHorizontalGutter;

  p {
    display: inline;
    font-style: italic;

    &::before,
    &::after {
      color: $accentOne;
      display: inline-block;
      font-family: $bitter;
      font-size: 3rem;
      font-style: normal;
      line-height: .9;
      height: 1.3rem;
      vertical-align: text-bottom;
    }

    &::before {
      content: '“';
      margin-right: .2rem;
    }

    &::after {
      content: '”';
      margin-left: .2rem;
    }
  }

  footer {
    font-weight: 700;
    text-align: right;
  }
}

hr {
  border-top: 0;
  border-bottom-color: $copy;
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-wrap;

  &.prettyprint {
    /*TODO: Fix color variable*/
    background-color: color(#422727 a(90%));
    border-color: $copy;
    color: $background;
    font-size: calc($baseFontSize / 1.142857);
    padding: calc($baseVerticalGutter / 2);

    li {
      background: none;
      list-style: decimal;
    }
  }
}
