@lost flexbox flex;

.row {
  lost-center: 480px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: $sm) {
    lost-center: 640px;
    padding: 0 2rem;
  }

  @media (min-width: $md) {
    lost-center: 780px;
  }
}
