@lost flexbox flex;

.row {
  lost-center: $rowFull $pageGutter;

  .row {
    padding: 0;
  }

  @media (min-width: $sm) {
    lost-center: $rowCenter;
  }

  &--wide {

    @media (min-width: $sm) {
      lost-center: $rowCenterDouble;
    }
  }

  &--full {

    @media (min-width: $sm) {
      lost-center: $rowFull;
    }
  }

  &__full-nested {
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;

    > .row {
      padding: 0 $pageGutter;
    }
  }
}

.column {
  lost-column: 1;

  &--1-2 {
    margin-bottom: calc($baseVerticalGutter * 2);

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $lg) {
      lost-column: 1/2;
      margin-bottom: 0;
    }
  }

  &--1-5 {
    margin-bottom: calc($baseVerticalGutter * 2);

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $lg) {
      lost-column: 1/5;
      margin-bottom: 0;
    }
  }

  &--4-5 {
    margin-bottom: calc($baseVerticalGutter * 2);

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $lg) {
      lost-column: 4/5;
      margin-bottom: 0;
    }
  }
}
