@lost flexbox flex;

.row {
  lost-center: $rowFull $pageGutter;

  @media (min-width: $sm) {
    lost-center: $rowCenter;
  }

  @media (min-width: $sm) {
    lost-center: $rowCenter;
  }

  &--full {

    @media (min-width: $sm) {
      lost-center: $rowFull;
    }
  }

  &--full-nested {
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
  }
}
