.main__header {
  font-family: $bitter;
  margin-bottom: 3rem;
  padding: 1rem 1rem 0;

  @media (min-width: $sm) {
    padding: 1rem 2rem 0;
  }

  &__nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      margin: 0;
      padding-left: 0;

      &__item {
        float: left;
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  &__logo {
    fill: $black;
    margin-bottom: 1rem;
    transition: fill .2s;
    width: 100px;

    @media (min-width: $sm) {
      margin-bottom: 0;
      width: 75px;
    }

    &:hover {
      fill: $green5;
    }
  }
}
