.info {

  &__header {
    border-bottom: 1px solid $copy;
    margin-bottom: calc($baseVerticalGutter * 3);
    padding-bottom: calc($baseVerticalGutter * 3);
  }

  &__heading {
    font-size: 1.2rem;

    @media (min-width: $sm) {
      font-size: 1.5rem;
    }

    &__link {
      display: inline-block;
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: calc($baseVerticalGutter / 2);

      @media (min-width: $sm) {
        font-size: 3rem;
      }
    }
  }

  &__content {
    margin-bottom: calc($baseVerticalGutter * 6);
  }
}
