.info {

  &__header {
    margin-bottom: 4rem;
  }

  > .info__header {
    border-bottom: 1px solid $copy;
    padding-bottom: 4rem;
  }

  &__heading {
    font-size: 1.2rem;

    @media (min-width: $sm) {
      font-size: 1.5rem;
    }

    &__link {
      display: inline-block;
      font-size: 2.5rem;
      line-height: 1.1;
      margin-bottom: .2rem;

      @media (min-width: $sm) {
        font-size: 3rem;
      }
    }
  }

  &__callouts {
    background-color: $copy;
    color: $bone;
    padding: 2rem 0;
    text-align: center;

    &__heading {
      color: $grapefruit;
      font-size: 1.5rem;
      line-height: 1.1;
      margin-bottom: .2rem;
    }
  }

  .icon-animation {
    margin-bottom: 1rem;
    max-width: 200px;
  }

  &__skills {
    padding: 4rem 0;

    &__heading {
      color: $beryl;
      font-size: 2rem;
      line-height: 1.1;
    }
  }

  &__more {
    color: $bone;
    overflow: hidden;
    padding: 4rem 0;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      background: $chocolate url(../images/bg-info-more.jpg) center;
      background-size: cover;
      height: 100%;
      pointer-events: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      z-index: -1;
    }

    &__content {
      background-color: rgba(66,39,39,.8);
      padding: 2rem;

      &__heading {
        color: $grapefruit;
        font-size: 2rem;
        line-height: 1.1;
      }
    }
  }

  &__column {

    &--1-3 {
      lost-column: 1;

      @media (min-width: $sm) {
        lost-column: 1/3;
      }
    }

    &--2-3 {
      lost-column: 1;

      @media (min-width: $sm) {
        lost-column: 2/3;
      }
    }
  }
}

.icon-animation {

  &--creativity {

    &__raindrops {
      opacity: 0;
      transition: opacity .5s;
    }

    &__bulb-full {
      transform-origin: 50% 50%;
      transition: transform .5s;
    }

    &__bulb-top {
        transition: opacity .5s,
                    transform .5s;
    }

    &__bulb-brain {
      opacity: 0;
      transition: opacity .5s;
    }

    &__lightning-bolt {
      opacity: 0;
    }
  }

  &--versatility {

    &__design-develop {
      transform-origin: 50% 50%;
      transition: transform .5s .5s;
    }

    &__pencil {
      transition: opacity .5s,
                  transform .5s ease-out;
    }

    &__bracket {
      opacity: 0;
      transition: opacity .5s;

      &--2 {
        transition: opacity .5s,
                    transform .5s ease-in;
      }
    }
  }

  &--passion {

  }

  &:hover {

    .icon-animation--creativity {

      &__raindrops {
        animation: iconAnimationCreativityRaindrops 5s infinite linear;
        opacity: .25;
        transition: opacity 3s;
      }

      &__lightning-bolt {

        &--1 {
          animation: iconAnimationCreativityLightningBolt1 2s 1s infinite;
        }

        &--2 {
          animation: iconAnimationCreativityLightningBolt2 2s 1s infinite;
        }

        &--3 {
          animation: iconAnimationCreativityLightningBolt3 2s 1s infinite;
        }
      }

      &__bulb-full {
        transform: scale(1.2,1.2) translateY(25%);
      }

      &__bulb-top {
          opacity: 0;
          transform: translateY(-300%);
      }

      &__bulb-brain {
        opacity: 1;
      }
    }

    .icon-animation--versatility {

      &__design-develop {
        transform: rotate(-45deg) scale(.8, .8) translateX(20%) translateY(-25%);
        transition: transform .5s;
      }

      &__pencil {
        opacity: 0;
        transform: translateX(-100%) translateY(100%);
        transition: opacity .5s .5s,
                    transform .5s .5s ease-in;
      }

      &__bracket {
        opacity: 1;

        &--2 {
          transform: translateX(-80%) translateY(-80%);
          transition: opacity .5s .5s,
                      transform .5s .6s ease-out;
        }
      }
    }

    .icon-animation--passion {

      &__heart {
        animation: iconAnimationPassionHeartbeat 1s infinite alternate;
        transform-origin: 50% 50%;
      }

      &__gear {
        transform-origin: 50% 50%;

        &--1 {
          animation: iconAnimationPassionGear1 5s infinite linear;
        }

        &--2 {
          animation: iconAnimationPassionGear2 5s infinite linear;
        }
      }
    }
  }
}

@keyframes iconAnimationCreativityRaindrops {
  from {transform: translateY(0);}
  to   {transform: translateY(50%);}
}

@keyframes iconAnimationCreativityLightningBolt1 {
  0%   {opacity: 0;}
  17%  {opacity: 1;}
  33%  {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes iconAnimationCreativityLightningBolt2 {
  0%   {opacity: 0;}
  33%  {opacity: 0;}
  50%  {opacity: 1;}
  66%  {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes iconAnimationCreativityLightningBolt3 {
  0%   {opacity: 0;}
  66%  {opacity: 0;}
  83%  {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes iconAnimationPassionHeartbeat {
  from {transform: scale(1, 1);}
  to   {transform: scale(1.05, 1.05);}
}

@keyframes iconAnimationPassionGear1 {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@keyframes iconAnimationPassionGear2 {
  from {transform: rotate(0deg);}
  to   {transform: rotate(-359deg);}
}
