.main-header {

  &__nav {
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $baseVerticalGutter $pageGutter;
  }

  .logo {
    fill: $link;
    transition: .2s;
    width: 75px;

    &:hover {
      fill: $linkHover;
      transform: scale(1.1);
    }
  }

  &__nav-list {

    &__item {
      float: left;
      margin-right: $baseHorizontalGutter;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-family: $bitter;
    }
  }
}
