.main-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $gutter;

  @media (min-width: $mdBp) {
    flex-direction: row;
    justify-content: space-between;

    > * + * {
      margin-top: 0;
    }
  }

  > * + * {
    margin-top: $rhythm;
  }
}
