.social-nav {
  display:flex;
  flex-direction: column;

  @media (min-width: $mdBp) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    float: left;

    &::after {
      content: "/";
      display: inline-block;
    }

    &:last-child {

      &::after {
        display: none;
      }
    }
  }
}
