/*Layout*/

/**Breakpoints**/
$xs: 480px;
$sm: 640px;
$md: 780px;
$lg: 960px;
$xl: 1280px;

/**Rows**/
$rowCenter: 35rem;
$rowCenterDouble: 52.5rem;
$rowFull: 100%;

/**Gutters**/
$pageGutter: 1.6rem;
$baseHorizontalGutter: 1.6rem;
$baseVerticalGutter: 1.6rem;


/*Typography*/

/**Fonts**/
$raleway: 'Raleway', sans-serif;
$bitter: 'Bitter', serif;

/**Base**/
$baseFontSize: 16px;
$baseLineHeight: 1.6;

/**Body**/
$bodyFontFamily: $raleway;

/**Headings**/
$headingFontFamily: $bitter;
$headingFontWeight: 700;


/*Colors*/

/**Palletes**/

/***Vintage***/
$bone: #FFF9E6;
$coffee: #422727;
$beryl: #029978;
$creamsicle: #EB8E4B;
$grapefruit: #EB4B4B;

/***Arcade***/
@void: #3f0b1b;
@cherry: #7a1631;
@strawberry: #cf423c;
@orange: #fc7d49;
@pacman: #ffd462;

/**Applied Pallete**/
$primaryLight: $bone;
$primaryDark: $coffee;
$accentOne: $beryl;
$accentTwo: $grapefruit;
$link: $creamsicle;
$linkHover: $grapefruit;
