/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:700);

$raleway: 'Raleway', sans-serif;
$bitter: 'Bitter', serif;

/*Breakpoints*/
$sm: 640px;
$md: 780px;

/*Colors*/
$white: #fafafa;
$gray: #aaa;
$black: #444;

$green1: #007F42;
$green2: #4CFFA8;
$green3: #00FF83;
$green4: #267F54;
$green5: #00CC69;
