/*Layout*/

/**Breakpoints**/
$smBp: 20rem;
$mdBp: 40rem;
$lgBp: 80rem;

/*Typography*/

/**Fonts**/
$raleway: 'Raleway', sans-serif;
$bitter: 'Bitter', serif;

/**Applied Fonts**/
$primaryFont: $raleway;
$accentFont: $bitter;

/**Base Size and Line Height**/
$baseFontSizeMin: 1.125;
$baseFontSizeMax: 1.5;
$baseFontSizeDiff: $baseFontSizeMax - $baseFontSizeMin;
$lineHeight: 1.5;


/**Gutters**/
$rhythm: 1.5rem;
$gutter: $rhythm;


/*Transitions and Easings*/
$linkTransition: .3s;


/*Colors*/

/**Pallete**/
$bone: #FFF9E6;
$coffee: #422727;
$beryl: #029978;
$creamsicle: #EB8E4B;
$grapefruit: #EB4B4B;

/**Applied Pallete**/
$primaryLight: $bone;
$primaryDark: $coffee;
$accentOne: $beryl;
$accentTwo: $grapefruit;
$link: $creamsicle;
$linkHover: color($link lightness(-10%));
