.work-list {
  lost-flex-container: row;
  align-items: center;
  border-bottom: 1px solid $copy;
  margin-bottom: 4rem;
  padding-bottom: 4rem;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__thumbnail {
    lost-column: 1;
    margin-bottom: 1rem;

    @media (min-width: $sm) {
      lost-column: 2/5;
      margin-bottom: 0;
    }

    &__image {
      max-width: 100%;
    }
  }

  &__info {
    lost-column: 1;

    @media (min-width: $sm) {
      lost-column: 3/5;
    }

    &__title {
      font-size: 2rem;
      line-height: 1.1;
      margin-bottom: .5rem;
    }
  }
}

.work-full {
  margin-bottom: 3rem;

  &--wrap {
    position: relative;

    .main__header {
      position: absolute;
      width: 100%;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    height: 100vh;
    margin-bottom: 2rem;

    &--aem {
      background: url(../images/splash.jpg) center;
      background-attachment: fixed; 
      background-size: cover;

      .work-full__header__title {
        color: $background;
      }

      .work-full__header__description {
        border-top: 1px solid $background;
        border-bottom: 1px solid $background;
        color: $background;
      }
    }

    .row {
      background-color: rgba(0,0,0,.5);
      padding: 2rem;
    }

    &__title {
      line-height: 1.1;
      margin-bottom: 2rem;
    }

    &__description {
      border-top: 1px solid $copy;
      border-bottom: 1px solid $copy;
      color: $accent;
      padding: 1rem 0;
      width: 100%;
    }
  }
}
