.work-list {
  lost-flex-container: row;
  align-items: center;
  border-bottom: 1px solid $copy;
  margin-bottom: 4rem;
  padding-bottom: 4rem;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__thumbnail {
    lost-column: 1;
    margin-bottom: 1rem;

    @media (min-width: $sm) {
      lost-column: 2/5;
      margin-bottom: 0;
    }

    &__image {
      max-width: 100%;
    }
  }

  &__info {
    lost-column: 1;

    @media (min-width: $sm) {
      lost-column: 3/5;
    }

    &__title {
      font-size: 2rem;
      line-height: 1.1;
      margin-bottom: .5rem;
    }
  }
}

.work-full {
  margin-bottom: 3rem;

  &__header {

    &__title {
      line-height: 1.1;
      margin-bottom: 2rem;
    }

    &__description {
      border-top: 1px solid $copy;
      border-bottom: 1px solid $copy;
      margin-bottom: 2rem;
      padding: 1rem 0;
    }
  }
}
