.site-nav {

  &__link {
    font-family: $accentFont;
    position: relative;

    &:hover {

      &::before {
        left: 0;
        width: 100%;
      }
    }

    &::before {
      background-color: currentColor;
      content: '';
      height: 3px;
      left: 50%;
      position: absolute;
      top: 100%;
      transition: left $linkTransition cubic-bezier(0.175, 0.885, 0.320, 1.275),
                  width $linkTransition cubic-bezier(0.175, 0.885, 0.320, 1.275);
      width: 0;
    }
  }
}
