.site-logo {
  display: inline-block;
  fill: $link;
  transition: fill $transitionDuration,
              transform $transitionDuration $transitionTimingFunction;
  @mixin css-lock width, rem, $(smBp), $(lgBp) , 6, 6.75;

  &:hover {
    fill: $linkHover;
    transform: scale(1.1);
  }
}
