.site-logo-link {

  .is-exiting & {

    &:hover {

      .site-logo {
        fill: $link;
        transform: scale(1);
      }
    }
  }

  &:hover {

    .site-logo {
      fill: $linkHover;
      transform: scale(1.1);
    }
  }
}

.site-logo {
  display: inline-block;
  fill: $link;
  transition: fill $transitionSlow $easingBounce,
              transform $transitionSlow $easingBounce;
  @mixin css-lock width, rem, $(smBp), $(lgBp), 6, 6.75;
}
