// Palette
$nightSky: #384259;
$nightSkyLight: lighten($nightSky, 7.5%);
$nightSkyDark: darken($nightSky, 10%);;
$berry: #f73859;
$lagoon: #21a791;
$paper: #e7dfd5;

// Theme
$light: $paper;
$midLight: $nightSkyLight;
$midDark: $nightSky;
$dark: $nightSkyDark;
$darker: darken($dark, 5%);
$primary: $lagoon;
$primaryLight: lighten($primary, 45%);
$accent: $berry;
$accentLight: lighten($accent, 5%);