// Families
$montserrat: 'Montserrat', sans-serif;
$shrikhand: 'Shrikhand', cursive;

// Base Font Styles
$primaryFont: $montserrat;
$secondaryFont: $shrikhand;
$baseFontSizeMin: 18px;
$baseFontSizeMax: $baseFontSizeMin * 2;
$baseLineHeight: 1.6;
$headingLineHeight: 1.2;
$contentWidthMax: 33em;

// Weights
$regular: 400;

// Content Styling
$heading: normal $regular 1em / #{$headingLineHeight} $secondaryFont;
$headingSm: normal $regular 1.25em / #{$headingLineHeight} $secondaryFont;
$headingMd:  normal $regular 2em / #{$headingLineHeight} $secondaryFont;
$headingLg: normal $regular 2.75em / #{$headingLineHeight} $secondaryFont;
$copy: normal $regular 1em / #{$baseLineHeight} $primaryFont;
$copySm: normal $regular 0.75em / #{$baseLineHeight} $primaryFont;
$copyAccent: normal $regular 1em / #{$baseLineHeight} $secondaryFont;
$copyAccentSm: normal $regular 0.875em / #{$baseLineHeight} $secondaryFont;
$copyAccentMd: normal $regular 1.25em / #{$baseLineHeight} $secondaryFont;
$decorative: normal $regular 1em / 1 $secondaryFont;
$decorativeLg: normal $regular 2em / 1 $secondaryFont;

// Breakpoints
$lockMin: 670px;
$lockMax: 1600px;
$lockMid: $lockMin + ($lockMax - $lockMin) / 2;

// CSS Lock and Vertical Rhythm
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin css-lock($minSize: $baseFontSizeMin, $maxSize: $baseFontSizeMax, $minWidth: $lockMin, $maxWidth: $lockMax, $property: font-size) {
  #{$property}: #{$minSize};

  @media screen and (min-width: #{$minWidth}) {
    #{$property}: calc(#{$minSize} + (#{strip-unit($maxSize)} - #{strip-unit($minSize)}) * ((100vw - #{$minWidth}) / (#{strip-unit($maxWidth)} - #{strip-unit($minWidth)})));
  }

  @media screen and (min-width: #{$maxWidth}) {
    #{$property}: #{$maxSize};
  }
}

@mixin rhythm-spacing($multiplier: 1, $lineHeight: $baseLineHeight, $unit: em, $property: margin-top) {
  #{$property}: ($multiplier * $lineHeight)#{$unit};
}