* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  line-height: 1.6;

  @media screen and (min-width: 46em) {
    padding-left: 200px;
  }
}

h1,h2,h3 {
  line-height: 1.2;

  &.fit-text {
    line-height: 1;
  }
}

h1,h2 {
  text-transform: lowercase;
}

h1,h3,
a {

  .about & {
    color: @yellow;
  }


  .blog & {
    color: @blue;
  }

  .work & {
    color: @red;
  }
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 300;
}

.content {

  header {
    margin-bottom: 30px;

    h1,h2 {
      margin: 0;
    }
  }

  a {
    border-bottom: 1px dotted;
    text-decoration: none;
    transition: border-color .2s,
                color .2s;

    &:hover {
      border-color: #ccc;
      color: #ccc;
    }
  }
}

.category-tag {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  line-height: 1;
  padding: 5px 10px;
  position: absolute;
  right: 10px;

  &:after {
    border-style: solid;
    border-width: 10px 10px 0 0;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    top: 100%; right: 0;
    width: 0;
  }

  .blog & {
    background-color: @blue;
    top: 10px;

    &:after {
      border-color: @text transparent transparent transparent;
    }
  }

  .work & {
    background-color: @red;
    bottom: 20px;

    &:after {
      border-color: #ccc transparent transparent transparent;
    }
  }

  .bg & {

    @media screen and (min-width: 64em) {
      position: fixed;
      right: auto; left: 210px;
      z-index: 1;

      &:after {
        border-color: transparent #ccc transparent transparent;
        border-width: 0 10px 10px 0;
        right: auto; left: 0;
      }
    }
  }
}
