.post-list {
  padding: 30px;
}

.post {
  border-bottom: 1px dotted @blue;
  margin-bottom: 1em;
  padding: 1em;
  transition: background-color .2s;

  &:hover {
    background-color: #efefef;
  }

  a,a:hover {
    color: @text;
  }

  a {

    &:hover {
      background-color: #ccc;
    }
  }
}
