.main-footer {

  &__inner {
    padding: 2rem 1rem 1rem;

    &__about {
      margin-bottom: 1rem;
      position: relative;
      text-align: center;

      @media (min-width: @md) {
        margin-bottom: 0;
        text-align: left;
      }

      &__image {
        border-radius: 50%;
        margin-bottom: 1rem;
        position: relative;

        @media (min-width: @md) {
          margin-bottom: 0;
          position: absolute;
          top: 0; left: 1rem;
        }
      }

      &__content {
        padding-left: 0;

        @media (min-width: @md) {
          padding-left: ~"calc(150px + 1rem)";
        }
      }
    }
  }
}

.social-nav {
  margin-bottom: 1rem;
  text-align: center;

  &__list {
    .cf;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 0;

    &__item {
      float: left;
      font-size: 2rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {

        svg {
          fill: @grayLight;
          transform: scale(1.05);
        }
      }

      svg {
        transition: fill .2s,
                    transform .2s;
      }
    }
  }
}
