.main-header {
  margin: 0;
}

.main-nav {
  .cf;
  line-height: 1;
  padding: 15px 0;
  text-align: right;

  @media (min-width: @md) {
    padding: 0 30px;
  }

  &__brand {
    color: @yellow;
    display: inline-block;
    float: left;
    font-family: @azoSansUber;
    font-weight: 400;
    padding: 15px 30px 15px 0;
    text-decoration: none;

    span {
      color: @grayLight;
    }
  }

  &__hamburger {
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-right: 30px;
    position: relative;
    width: 30px;

    @media (min-width: @md) {
      display: none;
    }

    &.is-open {

      .main-nav__hamburger__bar,
      .main-nav__hamburger__bar--primary:before,
      .main-nav__hamburger__bar--primary:after {
        background-color: @grayLight;
      }

      .main-nav__hamburger__bar {

        &--primary {
          transform: translate(0,-50%) rotate(45deg);

          &:before,
          &:after {
            opacity: 0;
            top: 0;
            width: 0;
          }
        }

        &--secondary {
          transform: translate(0,-50%) rotate(-45deg);
        }
      }
    }

    &__bar,
    &__bar--primary:before,
    &__bar--primary:after {
      background-color: @yellow;
      content: "";
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      transition: all .2s ease-in-out;
      width: 100%;
    }

    &__bar {
      top: 50%;
      transform: translate(0,-50%);

      &--primary {

        &:before {
          top: -200%;
        }

        &:after {
          top: 200%;
        }
      }
    }
  }

  &__list {
    .cf;
    height: auto;
    max-height: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    text-align: left;
    transition: max-height .2s;

    @media (min-width: @md) {
      max-height: none;
    }

    &.is-open {
      max-height: 100%;

      .main-nav__list__item {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &__item {
      float: none;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity .2s,
                  transform .2s;

      @media (min-width: @md) {
        float: left;
        opacity: 1;
        transform: translateX(0);
        transition: opacity .2s,
                    transform 0s;
      }

      &:first-child {

        a {

          @media (min-width: @md) {
            padding-left: 0;
          }
        }
      }

      &:nth-last-child(2) {

        a {

          @media (min-width: @md) {
            padding-right: 0;
          }
        }
      }

      a {
        color: @yellow;
        display: block;
        font-family: @azoSansUber;
        font-weight: 400;
        margin: 0;
        padding: 15px 30px;
        text-decoration: none;
        transition: background-color .2s;

        @media (min-width: @md) {
          display: inline-block;
          padding: 15px;
        }

        &:hover {
          background-color: @red;

          @media (min-width: @md) {
            background-color: transparent;
          }
        }
      }

      &.active {

        a {
          color: @grayLight;
        }
      }
    }

    &__hoverbar {
      border-top: 5px solid @yellow;
      bottom:0; left: 0;
      display: none;
      position: absolute;
      transition: border-color .2s,
                  left .2s,
                  width .2s;

      @media (min-width: @md) {
        display: block;
      }
    }
  }
}
