.main-header {
  margin-bottom: 0;
}

.main-nav {
  .cf;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: padding-bottom .2s ease-out;

  @media (min-width: @md) {
    padding: 0 2rem;
  }

  &.is-open {
    padding-bottom: 1rem;

    .main-nav__hamburger__bar,
    .main-nav__hamburger__bar--primary:before,
    .main-nav__hamburger__bar--primary:after {
      background-color: @grayLight;
    }

    .main-nav__hamburger__bar {

      &--primary {
        transform: translate(0,-50%) rotate(45deg);

        &:before,
        &:after {
          opacity: 0;
          top: 0;
          width: 0;
        }
      }

      &--secondary {
        transform: translate(0,-50%) rotate(-45deg);
      }
    }

    .main-nav__list {
      max-height: 100%;

      .main-nav__list__item {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__spacer {
    height: ~"calc(3rem)";

    @media (min-width: @md) {
      height: 0;
    }
  }

  &__brand {
    display: inline-block;
    font-family: @azoSansUber;
    font-weight: 400;
    position: absolute;
    text-align: right;
    text-decoration: none;
    top: 1rem; right: 100%; left: 2rem;
    transition: right .4s;
    z-index: 10;

    @media (min-width: @md) {
      top: 1rem; right: 2rem; left: auto;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__hamburger {
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    position: absolute;
    top: 7.5px; right: 30px;
    transition: right .2s;
    width: 2rem;

    @media (min-width: @md) {
      right: -2rem;
    }

    &__bar,
    &__bar--primary:before,
    &__bar--primary:after {
      background-color: @yellow;
      content: "";
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      transition: all .2s ease-in-out;
      width: 100%;
    }

    &__bar {
      top: 50%;
      transform: translate(0,-50%);

      &--primary {

        &:before {
          top: -200%;
        }

        &:after {
          top: 200%;
        }
      }
    }
  }

  &__list {
    .cf;
    height: auto;
    max-height: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    text-align: left;
    transition: max-height .2s;

    @media (min-width: @md) {
      max-height: none;
    }

    &__item {
      float: none;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity .2s,
                  transform .2s;

      @media (min-width: @md) {
        float: left;
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1s,
                    transform 0s;
      }

      &:first-child {

        a {

          @media (min-width: @md) {
            padding-left: 0;
          }
        }
      }

      &:nth-last-child(2) {

        a {

          @media (min-width: @md) {
            padding-right: 0;
          }
        }
      }

      a {
        color: @yellow;
        display: block;
        font-family: @azoSansUber;
        font-weight: 400;
        margin: 0;
        padding: 1rem 2rem;
        text-decoration: none;
        transition: background-color .2s;

        @media (min-width: @md) {
          display: inline-block;
          padding: 1rem;
        }

        &:hover {
          background-color: @red;

          @media (min-width: @md) {
            background-color: transparent;
          }
        }
      }

      &.active {

        a {
          color: @grayLight;
        }
      }
    }

    &__hoverbar {
      border-top: 5px solid @yellow;
      bottom:0; left: 0;
      display: none;
      position: absolute;
      transition: border-color .2s,
                  left .2s,
                  width .2s;

      @media (min-width: @md) {
        display: block;
      }
    }
  }
}
