.bg {
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding-top: 56.25%;
  position: relative;

  @media screen and (min-width: 64em) {
    background-attachment: fixed;
    min-height: 100%;
  }
}

.content {
  font-size: 1.2em;
  padding: 30px;
}
