.nuxt-content {
  > * {
    & + * {
      @include rhythm-spacing($multiplier: 0.5);
    }

    & + h2 {
      @include rhythm-spacing($multiplier: 0.75);
    }
  }

  h1 {
    font: $headingLg;
  }

  h2 {
    font: $headingMd;

    & + h3 {
      margin-top: 0;
    }
  }

  h3 {
    color: $primary;
    font: $headingSm;
  }

  ol,
  ul {
    margin-left: 1em;
    @include rhythm-spacing();

    & + * {
      @include rhythm-spacing();
    }
  }

  ul {
    list-style: disc;
  }

  li {
    ul,
    & + li {
      @include rhythm-spacing($multiplier: 0.25);
    }

    ul {
      list-style: circle;
    }
  }

  blockquote,
  hr {
    @include rhythm-spacing($multiplier: 1.25);

    & + * {
      @include rhythm-spacing($multiplier: 1.25);
    }
  }

  blockquote {
    border-bottom: 1px solid $darker;
    border-top: 1px solid $darker;
    display: grid;
    grid-template-areas:
      'decoration quote'
      '. source';
    grid-template-columns: auto 1fr;
    font-style: italic;
    @include rhythm-spacing($multiplier: .75, $property: 'padding-bottom');
    @include rhythm-spacing($multiplier: .75, $property: 'padding-top');

    &::before {
      color: $primary;
      content: '“';
      grid-area: decoration;
      font: $decorativeLg;
    }

    p {
      grid-area: quote;
      @include rhythm-spacing($multiplier: .25, $property: 'margin-left');

      & + p {
        font: $copyAccentMd;
        grid-area: source;
        @include rhythm-spacing($multiplier: .25);

        &::before {
          color: $primary;
          content: '— ';
        }
      }
    }
  }

  hr {
    background-color: $midLight;
    border: none;
    height: 1px;
  }
}
