<nav class="social-links">

  <ul class="social-links__list social-links__list--services">

    <li class="social-links__list__item"><a class="social-links__link" href="https://twitter.com/bradwaropay">twitter</a></li>
    <li class="social-links__list__item"><a class="social-links__link" href="https://github.com/bradwaropay">github</a></li>
    <li class="social-links__list__item"><a class="social-links__link" href="http://codepen.io/bradwaropay/">codepen</a></li>
    <li class="social-links__list__item"><a class="social-links__link" href="https://dribbble.com/bradwaropay">dribbble</a></li>

  </ul>

  <ul class="social-links__list social-links__list--utilities">

    <li class="social-links__list__item"><a href="mailto:brad.waropay@gmail.com">contact</a></li>
    <li class="social-links__list__item"><a href="/rss.xml">rss</a></li>

  </ul>

</nav>
