<nav class="social-nav">

  <ul class="social-nav__list social-nav__list--services">

    <li class="social-nav__item"><a class="social-nav__link" href="https://twitter.com/bradwaropay">twitter</a></li>

    <li class="social-nav__item"><a class="social-nav__link" href="https://github.com/bradwaropay">github</a></li>

    <li class="social-nav__item"><a class="social-nav__link" href="http://codepen.io/bradwaropay/">codepen</a></li>

    <li class="social-nav__item"><a class="social-nav__link" href="https://dribbble.com/bradwaropay">dribbble</a></li>

  </ul>

  <ul class="social-nav__list social-nav__list--utilities">

    <li class="social-nav__item"><a class="social-nav__link" href="mailto:brad.waropay@gmail.com">contact</a></li>

    <li class="social-nav__item"><a class="social-nav__link" href="/rss.xml">rss</a></li>

  </ul>

</nav>
