<p>I aim to better understand and improve the way developers, designers, and users can work with and for each other and share what I learn along the way.</p>
<p>I love creating for the web, designing systems, discovering patterns and trying to make things work just a little bit better, cleaner, and easier than they did before.</p>
<p>I currently work with my fellow interactive superheroes at <a href="http://meltmedia.com/">meltmedia</a>, where I lead a team of developers building large scale marketing sites, modular reusable components, and cms solutions.</p>
