<nav class="link-lists">
  <ul class="link-lists__list link-lists__list--social">
    <li class="link-lists__list__item"><a href="https://twitter.com/bradwaropay">twitter</a></li>
    <li class="link-lists__list__item"><a href="https://github.com/bradwaropay">github</a></li>
    <li class="link-lists__list__item"><a href="http://codepen.io/bradwaropay/">codepen</a></li>
    <li class="link-lists__list__item"><a href="https://dribbble.com/bradwaropay">dribbble</a></li>
  </ul>

  <ul class="link-lists__list link-lists__list--utility">
    <li class="link-lists__list__item"><a href="mailto:brad.waropay@gmail.com">contact</a></li>
    <li class="link-lists__list__item"><a href="/rss.xml">rss</a></li>
  </ul>
</nav>
