@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate(-.5rem,0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(.5rem,0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
