/*Layout*/

/**Breakpoints**/
$smBp: 20;
$mdBp: 40;
$lgBp: 80;

/*Typography*/

/**Fonts**/
$raleway: 'Raleway', sans-serif;
$bitter: 'Bitter', serif;

/**Applied Fonts**/
$primaryFont: $raleway;
$accentFont: $bitter;

/**Base Sizes and Line Height**/
$baseFontSizeMin: 1;
$baseFontSizeMax: 1.5;
$baseLineHeight: 1.5;
$baseContentWidth: 28;


/**Rhythm**/
$rhythmMin: $baseFontSizeMin * $baseLineHeight;
$rhythmMax: $baseFontSizeMax * $baseLineHeight;


/*Transitions and Easings*/
$linkTransition: .3s;


/*Colors*/

/**Pallete**/
$bone: #FFF9E6;
$coffee: #422727;
$beryl: #029978;
$creamsicle: #EB8E4B;
$grapefruit: #EB4B4B;

/**Applied Pallete**/
$primaryLight: $bone;
$primaryDark: $coffee;
$accentOne: $beryl;
$accentTwo: $grapefruit;
$link: $creamsicle;
$linkHover: color($link lightness(-10%));
